.header{
  display: flex;
  padding: 4px;
  border-bottom: 1px solid gray;
}
.header-logo{
  width: 120px;
}
.wrapper{
  width:960px;
  margin:auto;
  border:1px solid gray;
}
.header-title{
  font-size:26px;
  text-align: center;
  margin-left: 153px;
}
.headerMain,.headerSub{
  display: flex;
}
.headerSub{
  padding: 5px;
}
.actionButtons{
  display: flex;
  gap:20px;
  float: left;
  position: relative;
  left: 159px;
  
}
.btnAbt img,.btnAu img,.btnTr img,.btnMenu img {
  width: 12px;
  cursor: pointer;
}
.progressdiv{
  width: 50%;
  margin-left: 164px;
}
progress{
  width:60%;
}
#percentText{
display: block;
}
.main{
 border-bottom: 1px solid gray;
}
.btnPrev img{
  width: 12px;
}
.btnNext img{
  width: 14px;
}
.btnPrev,.btnNext{
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}
.main{
  min-height: 400px;
}
.activity{
  padding: 5px;
  gap: 10px;
  display: flex;
}
.activity p {
  text-align: left;
}
.actPgheader{
  text-align: left;
  padding: 5px;
}
.disabled{
  opacity: 0.5;
}
.btnSubmit{
  margin:5px;
  padding: 5px;
}
.hidden{
  display: none;
}
.active{
  display:block;
}
.totalScore{
  text-align: left;
  padding: 10px;
}
.questionTxt,
.que-header,.que-data,.feedback{
  text-align: left;
  padding-left: 10px;
}
.questionDetails .que-header h3,.questionDetails .que-data .questionTxt{
 display: flex;
 padding-left: 10px;
 border-bottom:1px solid gray;
}
.normal{
  color:black
}
.red{
  color:red
}
.blue{
  color:blue
}
.green{
  color:green
}
.option-group{
  text-align:left;
  padding:10px;
}
.ques-feedback{
  text-align:left;
  padding:10px;
  border-top:1px solid gray;
}
.menucontainer{
 width: 30px;
  
}
.btnMenu{
  width: 30px;
}
.menulist{
  list-style-type: none;
  padding-left: 0px;
  padding: 5px;
}
.menuitem{
  margin:5px;
  border-bottom: 1px solid gray;
}
.menudiv{
  border:1px solid gray;
  width: 300px;

}
.simualtion-container,.transcript-container{
  width: 860px;
  float: right;
  padding-left: 40px;
  
  position: relative;
  right: -95px;
  padding-right: 40px;
  text-align: justify;
}
 .pointcontainer{
  float: right;
  margin-top: -40px;
  margin-right: 21px;
} 
.simcontainer,.trncontainer,.aucontainer{
  width: 25px;
}
.btnRetry{
  float: right;
  margin-top: -27px;
  margin-right: 30px;
}
.firstcompoenent,.secondcompoenent,.thirdcompoenent{
  border-bottom: 1px solid gray;
 
  width: 50%;
}
.first-header,.second-header,.third-header{display: flex;margin:10px}
.acc-header{
  border-bottom: 1px solid gray;

}
.btntoggle{
  width: 50px;
  height: 27px;
  margin-top: 10px;
  margin-left: 17px;
  cursor: pointer;
}
.menu-item{
border-bottom: 1px solid gray;
text-align: left;
padding: 5px;
width: 280px;
}